Django==5.2.3
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
channels
channels-redis
django-cors-headers
django-filter
django-redis
dj-database-url
daphne
firebase-admin
google-cloud-storage
celery
gunicorn
whitenoise[brotli]
psycopg2-binary
Pillow
cloudinary
django-cloudinary-storage
python-decouple
redis
httpx
